@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf');
}

#main_button {
    -fx-background-color: #FFBB33;
    -fx-text-fill: #000;
    -fx-font-family: 'Abel';
    -fx-font-weight: 400;
    -fx-background-radius: 4px;
    /*-fx-font-size: 10pt;*/
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.35), 8, 0, 0, 4);
}
