@font-face {
    font-family: 'Abel';
    src: url('fonts/Abel-Regular.ttf');
}

* {
    -fx-font-family: 'Abel';
    -fx-alignment: center;
}

#root {
    -fx-background-color: #EBEBEB;
}


#title {
    -fx-font-size: 35px;
    -fx-text-fill: #000;
}

#main_button {
    -fx-background-color: #FFBB33;
    -fx-text-fill: #000;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

#main_button:hover {
    -fx-background-color: #FFC654;
}

