@font-face {
    font-family: 'Abel';
    src: url('fonts/Abel-Regular.ttf');
}

* {
    -fx-font-family: 'Abel';
    -fx-alignment: center;
}

#root {
    -fx-background-color: #EBEBEB;
}


#title {
    -fx-font-size: 35px;
    -fx-text-fill: #000;
}

#vertical_box {
    -fx-background-color: #FFC654;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

#question .content {
    -fx-background-color: #EBEBEB;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

#question .scroll_pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.options {
    -fx-background-color: #FFC654;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.25), 4, 4, 0, 4);
    -fx-font-size: 17px;
}

.options:hover {
    -fx-background-color: #FFC041;
}

.options:selected{
    -fx-background-color: #FF6141;
}

#main_button {
    -fx-background-color: #FFBB33;
    -fx-text-fill: #000;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

#main_button:hover {
    -fx-background-color: #FFC654;
}

#secondary_button {
    -fx-background-color: transparent;
    -fx-text-fill: #121212;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
}

#secondary_button:hover {
    -fx-underline: true;
}
